<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="keywords" content="아이-밋, 등하원안심알리미" />
        <meta name="description" content="등하원안심알리미 아이-밋"/>
        <meta name="author" content="쿠노소프트" /> 

        <!-- 상태바 색상-->
        <meta name="theme-color" content="#0080F8"/>
        <meta name="msapplication-navbutton-color" content="#0080F8" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#0080F8" />

        <!-- 홈화면추가시 주소창 제거 -->
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" /> 
        
        <title>아이-밋</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- favicon -->
        
        <link rel="stylesheet" href="css/total.css">
    </head>
    <body>
        <div class="wrap">
            <!-- skip 네비게이션 영역 -->
            <nav id="skipToContent">
                <ul>
                    <li><a href="#header">상단 바로가기</a></li>
                    <li><a href="#gnb">주메뉴 바로가기</a></li>
                    <li><a href="#snb">마이페이지 바로가기</a></li>
                    <li><a href="#aside">사이드메뉴 바로가기</a></li>
                    <li><a href="#section">본문 바로가기</a></li>
                    <li><a href="#footer">하단 바로가기</a></li>
                </ul>
            </nav>
            <!-- skip 네비게이션 영역 -->

            <!-- header -->
            <header id="header" class="header_01">
                <%-/*header_01 불러오기*/ include ("./templates/header_01") %>
            </header>
            <!-- header -->

            <section id="section" class="center">
                <div class="flex_between2">
                    <!-- aside -->
                    <aside id="aside" class="aside_01">
                        <%-/*aside_01 불러오기*/ include ("./templates/aside_01") %>
                    </aside>
                    <!-- aside -->

                    <!-- article -->
                    <article class="article_wrap">
                        <!-- article title -->
                        <div class="article_tit flex_between">
                            <h2 class="h2_G_type02 h2_G_before01">초대하기</h2>
                            <ul class="article_nav flex_right">
                                <li>
                                    <a href="#none">
                                        <span class="blind">home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Director_Member_Teacher">멤버 관리</a>
                                </li>
                                <li>
                                    <a href="Director_Member_Invite" class="nav_active">초대하기</a>
                                </li>
                            </ul>
                        </div>

                        <!-- article box -->
                        <div class="article_box">
                            <!-- article top -->
                            <div class="article_top flex_between">
                                <h3 class="h3_G_type01">초대장</h3>
                            </div>

                            <!-- article contents -->
                            <div class="article_contents">
                                <!-- 초대 역할 선택 -->
                                <div class="invite_role">
                                    <ul class="flex_between">
                                        <li>
                                            <a href="#none" id="invite_role_teacher" class="flex_center_column role_active">
                                                <div class="role_img">
                                                    <span class="blind">선생님 이미지</span>
                                                </div>
                                                <h3 class="h3_N_type01">선생님</h3>
                                                <p class="p_12px">원을 소속되어 계신 선생님</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none" id="invite_role_parents" class="flex_center_column">
                                                <div class="role_img">
                                                    <span class="blind">보호자 이미지</span>
                                                </div>
                                                <h3 class="h3_N_type01">보호자</h3>
                                                <p class="p_12px">원에 원아를 보내는 보호자</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none" id="invite_role_driver" class="flex_center_column">
                                                <div class="role_img">
                                                    <span class="blind">기사님 이미지</span>
                                                </div>
                                                <h3 class="h3_N_type01">기사님</h3>
                                                <p class="p_12px">등하원 운전을 해주시는 운전 기사님</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- 초대 정보 - 선생님 -->
                                <div class="invite_info invite_info_teacher">
                                    <div class="invite_mention flex_start_column">
                                        <h4 class="h4_N_type01"><span>선생님</span>을 초대해 보세요!</h4>
                                        <p class="p_12px">연락처를 통해 초대할 수 있고 초대장은 발송 후 7일 뒤 자동 삭제돼요</p>
                                    </div>
                                    <div class="form_contents">
                                        <label for="정보 입력">정보 입력</label>
                                        <div class="invite_info_text flex_between">
                                            <input id="teacher_name" type="text" class="Text_input" placeholder="이름을 입력하세요">
                                            <input id="teacher_phone" type="text" class="Text_input" placeholder="휴대폰 번호를 입력하세요">
                                            <div class="form_delete_wrap flex_center">
                                                <button type="button" class="form_delete">
                                                    <span class="blind">삭제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초대 정보 - 보호자 -->
                                <div class="invite_info invite_info_parents">
                                    <div class="invite_mention flex_start_column">
                                        <h4 class="h4_N_type01"><span>보호자</span>를 초대해 보세요!</h4>
                                        <p class="p_12px">연락처를 통해 초대할 수 있고 초대장은 발송 후 7일 뒤 자동 삭제돼요</p>
                                    </div>
                                    <div class="form_contents">
                                        <label for="정보 입력">정보 입력</label>
                                        <div class="invite_info_text flex_between">
                                            <input id="parents_name" type="text" class="Text_input" placeholder="보호자명을 입력하세요">
                                            <input id="parents_num" type="text" class="Text_input" placeholder="휴대폰 번호를 입력하세요">
                                            <div class="form_delete_wrap flex_center">
                                                <button type="button" class="form_delete">
                                                    <span class="blind">삭제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초대 정보 - 기사님 -->
                                <div class="invite_info invite_info_driver">
                                    <div class="invite_mention flex_start_column">
                                        <h4 class="h4_N_type01"><span>기사님</span>을 초대해 보세요!</h4>
                                        <p class="p_12px">연락처를 통해 초대할 수 있고 초대장은 발송 후 7일 뒤 자동 삭제돼요</p>
                                    </div>
                                    <div class="form_contents">
                                        <label for="정보 입력">정보 입력</label>
                                        <div class="invite_info_text flex_between">
                                            <input id="driver_name" type="text" class="Text_input" placeholder="이름을 입력하세요">
                                            <input id="driver_num" type="text" class="Text_input" placeholder="휴대폰 번호를 입력하세요">
                                            <div class="form_delete_wrap flex_center">
                                                <button type="button" class="form_delete">
                                                    <span class="blind">삭제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 초대 버튼 -->
                                <div class="form_btn_wrap">
                                    <button type="button" class="btn_blueline01">+ 추가</button>
                                    <button type="button" class="btn_blue03">초대장 보내기</button>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- article -->
                </div>
            </section>
        </div>

        <!-- footer -->
        <footer id="footer">
            <%-/*footer 불러오기*/ include ("./templates/footer") %>
        </footer>
        <!-- footer -->

        <!-- 모바일 내비게이션 -->
        <nav id="m_nav" class="m_director">
            <ul class="flex_center">
                <li>
                    <a href="Director_Goto_Driver" class="m_nav01">
                        <div class="m_icon"><span class="blind">등하원 관리</span></div>
                    </a>
                </li>
                <li>
                    <a href="Director_Attendance_Register" class="m_nav02">
                        <div class="m_icon"><span class="blind">출석부 관리</span></div>
                    </a>
                </li>
                <li>
                    <a href="Director_Member_Teacher" class="m_nav03 m_active">
                        <div class="m_icon"><span class="blind">멤버 관리</span></div>
                    </a>
                </li>
                <li>
                    <a href="Director_Setting_Kinder" class="m_nav04">
                        <div class="m_icon"><span class="blind">원 관리</span></div>
                    </a>
                </li>
                <li>
                    <a href="Director_Notice" class="m_nav05">
                        <div class="m_icon"><span class="blind">공지사항 관리</span></div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- 모바일 내비게이션 -->
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const inviteRoleTeacher = document.getElementById('invite_role_teacher');
            const inviteRoleParents = document.getElementById('invite_role_parents');
            const inviteRoleDriver = document.getElementById('invite_role_driver');

            const inviteInfoTeacher = document.querySelector('.invite_info_teacher');
            const inviteInfoParents = document.querySelector('.invite_info_parents');
            const inviteInfoDriver = document.querySelector('.invite_info_driver');

            const btnAdd = document.querySelector('.btn_blueline01'); // + 추가 버튼

            // 역할 선택
            const inviteRoleLinks = document.querySelectorAll('.invite_role a');
            inviteRoleLinks.forEach(link => {
                link.addEventListener('click', function () {
                    inviteRoleLinks.forEach(link => link.classList.remove('role_active'));
                    this.classList.add('role_active');

                    inviteInfoTeacher.style.display = this === inviteRoleTeacher ? 'block' : 'none';
                    inviteInfoParents.style.display = this === inviteRoleParents ? 'block' : 'none';
                    inviteInfoDriver.style.display = this === inviteRoleDriver ? 'block' : 'none';
                });
            });

            // 추가 버튼 클릭
            btnAdd.addEventListener('click', function () {
                let currentVisibleInfo = null;

                if (getComputedStyle(inviteInfoTeacher).display === 'block') {
                    currentVisibleInfo = inviteInfoTeacher;
                } else if (getComputedStyle(inviteInfoParents).display === 'block') {
                    currentVisibleInfo = inviteInfoParents;
                } else if (getComputedStyle(inviteInfoDriver).display === 'block') {
                    currentVisibleInfo = inviteInfoDriver;
                }

                if (currentVisibleInfo) {
                    const formContents = currentVisibleInfo.querySelector('.form_contents');
                    const targetBlock = currentVisibleInfo.querySelector('.invite_info_text');
                    const clone = targetBlock.cloneNode(true);

                    // 클론 input 초기화
                    const inputs = clone.querySelectorAll('input');
                    inputs.forEach(input => input.value = '');

                    formContents.appendChild(clone);
                }
            });

            // 삭제 버튼 클릭
            document.addEventListener('click', function (e) {
                if (e.target.closest('.form_delete')) {
                    const textBlock = e.target.closest('.invite_info_text');
                    const parent = e.target.closest('.form_contents');

                    if (parent && parent.querySelectorAll('.invite_info_text').length > 1) {
                        textBlock.remove();
                    }
                }
            });
        });
    </script>
</html>