<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="keywords" content="아이-밋, 등하원안심알리미" />
        <meta name="description" content="등하원안심알리미 아이-밋"/>
        <meta name="author" content="쿠노소프트" /> 

        <!-- 상태바 색상-->
        <meta name="theme-color" content="#0080F8"/>
        <meta name="msapplication-navbutton-color" content="#0080F8" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#0080F8" />

        <!-- 홈화면추가시 주소창 제거 -->
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" /> 
        
        <title>아이-밋</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- favicon -->
        
        <link rel="stylesheet" href="css/total.css">
    </head>
    <body>
        <div class="wrap">
            <!-- skip 네비게이션 영역 -->
            <nav id="skipToContent">
                <ul>
                    <li><a href="#header">상단 바로가기</a></li>
                    <li><a href="#gnb">주메뉴 바로가기</a></li>
                    <li><a href="#snb">마이페이지 바로가기</a></li>
                    <li><a href="#aside">사이드메뉴 바로가기</a></li>
                    <li><a href="#section">본문 바로가기</a></li>
                    <li><a href="#footer">하단 바로가기</a></li>
                </ul>
            </nav>
            <!-- skip 네비게이션 영역 -->

            <!-- header -->
            <header id="header" class="header_01">
                <%-/*header_01 불러오기*/ include ("./templates/header_01") %>
            </header>
            <!-- header -->

            <section id="section" class="center">
                <div class="flex_between2">
                    <!-- aside -->
                    <aside id="aside" class="aside_01">
                        <%-/*aside_01 불러오기*/ include ("./templates/aside_01") %>
                    </aside>
                    <!-- aside -->

                    <!-- article -->
                    <article class="article_wrap">
                        <!-- article title -->
                        <div class="article_tit flex_between">
                            <h2 class="h2_G_type02 h2_G_before01">차량 노선 관리</h2>
                            <ul class="article_nav flex_right">
                                <li>
                                    <a href="#none">
                                        <span class="blind">home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Director_Goto_Teacher">등하원 관리</a>
                                </li>
                                <li>
                                    <a href="Director_Goto_Route" class="nav_active">차량 노선 관리</a>
                                </li>
                            </ul>
                        </div>

                        <!-- article box -->
                        <div class="article_box">
                            <!-- article top -->
                            <div class="article_top flex_between">
                                <h3 class="h3_G_type01">차량 노선 목록</h3>
                                <div class="flex_right">
                                    <a href="Director_Goto_RouteView" id="btn_reserveNot" type="button" class="btn_blue01">배차 추가</a>
                                </div>
                            </div>

                            <!-- article line -->
                            <div class="article_line"></div>

                            <!-- article contents -->
                            <div class="article_contents">
                                <div id="grid_wrap" class="grid">
                                    <!-- grid title -->
                                    <div class="grid_routeList grid_head01 flex_center">
                                        <span class="grid_tit">차량 번호</span>
                                        <span class="grid_tit">유형</span>
                                        <span class="grid_tit">배차명</span>
                                        <span class="grid_tit">운행 요일</span>
                                        <span class="grid_tit">운행 시간</span>
                                        <span class="grid_tit">등록 일자</span>
                                    </div>
                                    <!-- grid title -->
            
                                    <!-- grid inner -->
                                    <a href="Director_Goto_RouteView" class="grid_routeList grid_contents01 flex_center">
                                        <span class="grid_item01">1호차 (12가 1234)</span>
                                        <span class="grid_item01 goto_01">등원</span>
                                        <span class="grid_item01">희망동</span>
                                        <span class="grid_item01">평일</span>
                                        <span class="grid_item01">08:00 ~ 09:00</span>
                                        <span class="grid_item01">20250101</span>
                                    </a>
                                    <a href="Director_Goto_RouteView" class="grid_routeList grid_contents01 flex_center">
                                        <span class="grid_item01">1호차 (12가 1234)</span>
                                        <span class="grid_item01 goto_02">하원</span>
                                        <span class="grid_item01">희망동</span>
                                        <span class="grid_item01">평일</span>
                                        <span class="grid_item01">12:00 ~ 13:00</span>
                                        <span class="grid_item01">20250101</span>
                                    </a>
                                    <a href="Director_Goto_RouteView" class="grid_routeList grid_contents01 flex_center">
                                        <span class="grid_item01">1호차 (12가 1234)</span>
                                        <span class="grid_item01 goto_02">하원</span>
                                        <span class="grid_item01">종일반 A</span>
                                        <span class="grid_item01">화, 목</span>
                                        <span class="grid_item01">17:00 ~ 18:00</span>
                                        <span class="grid_item01">20250101</span>
                                    </a>
                                    <a href="Director_Goto_RouteView" class="grid_routeList grid_contents01 flex_center">
                                        <span class="grid_item01">1호차 (12가 1234)</span>
                                        <span class="grid_item01 goto_02">하원</span>
                                        <span class="grid_item01">종일반 B</span>
                                        <span class="grid_item01">월, 수, 금</span>
                                        <span class="grid_item01">17:00 ~ 18:00</span>
                                        <span class="grid_item01">20250101</span>
                                    </a>
                                </div>

                                <!-- pagination -->
                                <div id="report_page" class="pagination">
                                    <ul class="flex_center">
                                        <li>
                                            <a href="#none" class="first_page flex_center">
                                                <span class="blind">첫 페이지 이동</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none" class="prev_page flex_center ">
                                                <span class="blind">이전 페이지 이동</span>
                                            </a>
                                        </li>
                                        <li><a href="#none" class="num num_active">1</a></li>
                                        <li><a href="#none" class="num active">2</a></li>
                                        <li><a href="#none" class="num active">3</a></li>
                                        <li><a href="#none" class="num active">4</a></li>
                                        <li><a href="#none" class="num active">5</a></li>
                                        <li>
                                            <a href="#none" class="next_page flex_center">
                                                <span class="blind">다음 페이지 이동</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none" class="last_page flex_center">
                                                <span class="blind">마지막 페이지 이동</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- pagination -->
                            </div>
                        </div>
                    </article>
                    <!-- article -->
                </div>
            </section>
        </div>

        <!-- footer -->
        <footer id="footer">
            <%-/*footer 불러오기*/ include ("./templates/footer") %>
        </footer>
        <!-- footer -->

        <!-- 모바일 내비게이션 -->
        <nav id="m_nav" class="m_director">
            <ul class="flex_center">
                <li>
                    <a href="Director_Goto_Driver" class="m_nav01 m_active">
                        <div class="m_icon"><span class="blind">등하원 관리</span></div>
                    </a>
                </li>
                <li>
                    <a href="Director_Attendance_Register" class="m_nav02">
                        <div class="m_icon"><span class="blind">출석부 관리</span></div>
                    </a>
                </li>
                <li>
                    <a href="Director_Member_Teacher" class="m_nav03">
                        <div class="m_icon"><span class="blind">멤버 관리</span></div>
                    </a>
                </li>
                <li>
                    <a href="Director_Setting_Kinder" class="m_nav04">
                        <div class="m_icon"><span class="blind">원 관리</span></div>
                    </a>
                </li>
                <li>
                    <a href="Director_Notice" class="m_nav05">
                        <div class="m_icon"><span class="blind">공지사항 관리</span></div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- 모바일 내비게이션 -->
    </body>
</html>