<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="keywords" content="아이-밋, 등하원안심알리미" />
        <meta name="description" content="등하원안심알리미 아이-밋"/>
        <meta name="author" content="쿠노소프트" /> 

        <!-- 상태바 색상-->
        <meta name="theme-color" content="#0080F8"/>
        <meta name="msapplication-navbutton-color" content="#0080F8" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#0080F8" />

        <!-- 홈화면추가시 주소창 제거 -->
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" /> 
        
        <title>아이-밋</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- favicon -->
        
        <link rel="stylesheet" href="css/total.css">
    </head>
    <body>
        <div class="wrap">
            <!-- skip 네비게이션 영역 -->
            <nav id="skipToContent">
                <ul>
                    <li><a href="#header">상단 바로가기</a></li>
                    <li><a href="#gnb">주메뉴 바로가기</a></li>
                    <li><a href="#snb">마이페이지 바로가기</a></li>
                    <li><a href="#aside">사이드메뉴 바로가기</a></li>
                    <li><a href="#section">본문 바로가기</a></li>
                    <li><a href="#footer">하단 바로가기</a></li>
                </ul>
            </nav>
            <!-- skip 네비게이션 영역 -->

            <!-- header -->
            <header id="header" class="header_03">
                <%-/*header_03 불러오기*/ include ("./templates/header_03") %>
            </header>
            <!-- header -->

            <section id="section" class="center">
                <div class="flex_between2">
                    <!-- aside -->
                    <aside id="aside" class="aside_03">
                        <%-/*aside_03 불러오기*/ include ("./templates/aside_03") %>
                    </aside>
                    <!-- aside -->

                    <!-- article -->
                    <article class="article_wrap">
                        <!-- article title -->
                        <div class="article_tit flex_between">
                            <h2 class="h2_G_type02 h2_G_before03">마이 페이지</h2>
                            <ul class="article_nav flex_right">
                                <li>
                                    <a href="#none">
                                        <span class="blind">home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Parents_Mypage_Option">마이 페이지</a>
                                </li>
                                <li>
                                    <a href="Parents_Mypage_Login" class="nav_active">회원정보</a>
                                </li>
                            </ul>
                        </div>

                        <!-- article box -->
                        <div class="article_box">
                            <!-- article top -->
                            <div class="article_top flex_between2">
                                <h3 class="h3_G_type01">회원정보 수정</h3>
                                <ol class="article_top_tabs flex_right">
                                    <li class="art_alarm"><a href="Parents_Mypage_Option">알림 설정</a></li>
                                    <li class="art_mypage art_active03"><a href="Parents_Mypage_Login">회원정보</a></li>
                                </ol>
                            </div>

                            <!-- article line -->
                            <div class="article_line"></div>

                            <!-- article contents -->
                            <div class="article_contents flex_center">
                                <div class="mypage_teacher">
                                    <div class="pw_wrap wrap_bottom">
                                        <h3 class="h3_N_type01">비밀번호</h3>
                                        <div class="login_contents flex_start">
                                            <label for="typeUserPW" class="label_userPW flex_center">
                                                <div class="icon_user"><span class="blind">비밀번호 아이콘</span></div>
                                            </label>
                                            <input type="password" placeholder="비밀번호" id="user_PW">
                                            <label for="PWview" class="label_view flex_center">
                                                <button type="button" class="btn_view" onclick="togglePasswordView()">
                                                    <div class="icon_user"><span class="blind">표시 아이콘</span></div>
                                                    <span class="blind">비밀번호 표시</span>
                                                </button>
                                            </label>
                                        </div>
                                    </div>
                                    <a href="Parents_Mypage_User" class="my_btn_orange01">비밀번호 확인</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- article -->
                </div>
            </section>
        </div>

        <!-- footer -->
        <footer id="footer">
            <%-/*footer 불러오기*/ include ("./templates/footer") %>
        </footer>
        <!-- footer -->

        <!-- 모바일 내비게이션 -->
        <nav id="m_nav" class="m_parents">
            <ul class="flex_center">
                <li>
                    <a href="Parents_Child_List" class="m_nav03">
                        <div class="m_icon"><span class="blind">자녀 정보 관리</span></div>
                    </a>
                </li>
                <li>
                    <a href="Parents_Goto_Location" class="m_nav01">
                        <div class="m_icon"><span class="blind">등하원 관리</span></div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- 모바일 내비게이션 -->
    </body>
    <script>
        function togglePasswordView() {
            const passwordInput = document.getElementById('user_PW');
            const viewButton = document.querySelector('.label_view button');
            const viewIcon = viewButton.querySelector('.icon_user');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                viewIcon.style.background = 'url(../images/icon_login_view2.svg) no-repeat center/contain';
            } else {
                passwordInput.type = 'password';
                viewIcon.style.background = 'url(../images/icon_login_view.svg) no-repeat center/contain';
            }
        }
    </script>
</html>