<!-- aside top -->
<div class="side_top flex_start">
    <a href="#none" id="user_mypage">
        <div class="img_mypage">
            <span class="blind">마이페이지</span>
        </div>
    </a>
    <div class="side_top_text">
        <div class="flex_start">
            <p class="p_G_20px">김운혁</p>
            <p class="p_16px">기사님</p>
        </div>
        <p class="p_12px">한마음 어린이집</p>
    </div>
</div>

<!-- aside notice -->
<div class="side_notice">
    <div class="side_tit flex_start">
        <div class="icon_side_tit02">
            <span class="blind">운전 아이콘</span>
        </div>
        <h4 class="h4_N_type01">차량 및 스케줄</h4>
    </div>

    <!-- aside subtit -->
    <div class="side_subtit flex_between">
        <p class="p_16px">담당 차량</p>
        <div class="side_line"></div>
    </div>

    <!-- aside contents -->
    <div class="side_contents02">
        <ul>
            <li class="flex_between">
                <p class="p_14px">1호차(12가 1234)</p>
            </li>
        </ul>
    </div>

    <!-- aside subtit -->
    <div class="side_subtit flex_between">
        <p class="p_16px">운행 스케줄</p>
        <div class="side_line"></div>
    </div>

    <!-- aside contents -->
    <div class="side_contents01">
        <ul>
            <li class="flex_between">
                <p class="p_14px">등원<span>08:50</span></p>
                <ol class="side_attendance_box03 flex_right">
                    <li><p class="p_10px">원아<span>20</span></p></li>
                </ol>
            </li>
            <li class="flex_between">
                <p class="p_14px">하원<span>13:00</span></p>
                <ol class="side_attendance_box03 flex_right">
                    <li><p class="p_10px">원아<span>20</span></p></li>
                </ol>
            </li>
        </ul>
    </div>
</div>

<!-- aside notice -->
<div class="side_notice">
    <div class="side_tit flex_start">
        <div class="icon_side_tit02">
            <span class="blind">공지사항 아이콘</span>
        </div>
        <h4 class="h4_N_type01">시스템 공지사항</h4>
    </div>

    <!-- aside subtit -->
    <div class="side_subtit flex_between">
        <p class="p_16px">등록일시</p>
        <div class="side_line"></div>
    </div>

    <!-- aside contents -->
    <div class="side_contents02">
        <ul>
            <li class="flex_between">
                <p class="p_14px">2024-08-22 16:25:22</p>
            </li>
        </ul>
    </div>

    <!-- aside subtit -->
    <div class="side_subtit flex_between">
        <p class="p_16px">공지사항</p>
        <div class="side_line"></div>
    </div>

    <!-- aside contents -->
    <div class="side_contents03">
        <ul>
            <li class="flex_between">
                <p class="p_14px">금주 토(16:00) ~ 일(12:00) 양일 간 시스템 점검 예정</p>
            </li>
            <li class="flex_between">
                <p class="p_14px">금주 토(16:00) ~ 일(12:00) 양일 간 시스템 점검 예정</p>
            </li>
        </ul>
    </div>
</div>