<div class="footer_top">
    <span class="blind">푸터 상단 일러스트</span>
</div>
<div class="footer_wrap">
    <div class="center">
        <ul class="flex_between2">
            <!--푸터 왼쪽 -->
            <li class="footer_L">
                <a href="login">
                    <h1 class="h1_logo_footer">
                        <span class="blind">아이타요 푸터 로고</span>
                    </h1>
                </a>
                <ol class="footer_list01 flex_start">
                    <li>
                        <a href="#none">이용약관</a>
                    </li>
                    <li>
                        <a href="#none">개인정보 처리방침</a>
                    </li>
                    <li>
                        <a href="#none">이메일주소 무단수집거부</a>
                    </li>
                </ol>
                <ol class="footer_list02 flex_start">
                    <li>
                        <p class="p_14px">(주) 쿠노소프트</p>
                    </li>
                    <li>
                        <p class="p_14px">대표 조장관</p>
                    </li>
                    <li>
                        <p class="p_14px">서울특별시 성북구 안암로 145</p>
                    </li>
                    <li>
                        <p class="p_14px">107-87-19801</p>
                    </li>
                </ol>
            </li>
    
            <!--푸터 오른쪽 -->
            <li class="footer_R">
                <h2 class="h2_B_type01">TeL. 3291-2200</h2>
                <ol class="footer_list03 flex_right">
                    <li>
                        <p class="p_14px">평일 10:00 ~ 18:00</p>
                    </li>
                    <li>
                        <p class="p_14px">주말/공휴일 휴무</p>
                    </li>
                </ol>
                <p class="p_14px">Copyright ⓒ Kounosoft Co., Ltd. All Rights Reserved </p>
            </li>
        </ul>
    </div>
</div>