<div class="modal_con2">
    <!-- modal body -->
    <div class="modal_body">
        <div class="form_wrap">
            <h2 class="h2_G_type04">회원가입을 축하드려요!</h2>
            <p class="p_16px">
                지금부터 아이-밋을 이용하실 수 있어요<br>
                선생님, 기사님, 보호자님을 초대하여 <span>안전한 어린이집</span>을 만들어요 :)
            </p>
        </div>
    </div>

    <!-- 하단 버튼 -->
    <div class="modal_btn_wrap flex_center">
        <li>
            <a href="login" id="modalRegisterBtn" class="modal_btn_blue01">로그인 페이지</a>
        </li>
    </div>
</div>