<div class="modal_con">
    <!-- modal header -->
    <div class="modal_header flex_between">
        <h2 class="h2_G_type02">원 변경</h2>
        <button id="modalCloseBtn" class="btn_x_modal">
            <span class="blind">모달창 닫기</span>
        </button>
    </div>

    <!-- modal body -->
    <div class="modal_body">
        <div class="form_wrap">
            <div class="form_top form_request flex_start">
                <h5 class="h5_N_type01">원 찾기</h5>
                <p class="p_12px">지역과 운영 중인 원 명을 검색해 주세요</p>
            </div>
            <div id="kinder_address" class="form_request flex_start">
                <label for="주소">주소</label>
                <div class="form_item flex_between">
                    <select name="address01" class="select_01 select_parents">
                        <option disabled selected>전국</option>
                        <option value="서울특별시">서울특별시</option>
                        <option value="부산광역시">부산광역시</option>
                        <option value="대구광역시">대구광역시</option>
                        <option value="인천광역시">인천광역시</option>
                        <option value="광주광역시">광주광역시</option>
                        <option value="대전광역시">대전광역시</option>
                        <option value="울산광역시">울산광역시</option>
                        <option value="세종특별자치시">세종특별자치시</option>
                        <option value="경기도">경기도</option>
                        <option value="강원도">강원도</option>
                        <option value="충청북도">충청북도</option>
                        <option value="충청남도">충청남도</option>
                        <option value="전라북도">전라북도</option>
                        <option value="전라남도">전라남도</option>
                        <option value="경상북도">경상북도</option>
                        <option value="경상남도">경상남도</option>
                        <option value="제주특별자치도">제주특별자치도</option>
                    </select>
                    <select name="address02" class="select_01 select_parents">
                        <option disabled selected>시/군구</option>
                        <option value="군구">군구</option>
                        <option value="군구">군구</option>
                        <option value="군구">군구</option>
                        <option value="군구">군구</option>
                    </select>
                </div>
            </div>
            <div id="kinder_search" class="form_request flex_start">
                <label for="원 검색">원 검색</label>
                <div class="form_item flex_between">
                    <input type="text" placeholder="원 이름을 검색하세요" id="kinder_name">
                    <button type="button" class="btn_orange04">검색</button>
                </div>
            </div>
            <div id="kinder_list" class="form_request flex_right">
                <div class="form_item">
                    <p class="p_12px">총 12개</p>
                    <div class="kinder_list_wrap">
                        <ul>
                            <li class="flex_between">
                                <div class="kinder_wrap">
                                    <p class="p_12px">e편한산들어린이집</p>
                                    <div class="kinder_address_num flex_start_column">
                                        <p class="p_10px">경기도 남양주시 오남읍 양지로 240번길 37 관리동</p>
                                        <p class="p_10px">031-514-1001</p>
                                    </div>
                                </div>
                                <button class="btn_orangeline02">선택</button>
                            </li>
                            <li class="flex_between">
                                <div class="kinder_wrap">
                                    <p class="p_12px">e편한산들어린이집</p>
                                    <div class="kinder_address_num flex_start_column">
                                        <p class="p_10px">경기도 남양주시 오남읍 양지로 240번길 37 관리동</p>
                                        <p class="p_10px">031-514-1001</p>
                                    </div>
                                </div>
                                <button class="btn_orangeline02">선택</button>
                            </li>
                            <li class="flex_between">
                                <div class="kinder_wrap">
                                    <p class="p_12px">e편한산들어린이집</p>
                                    <div class="kinder_address_num flex_start_column">
                                        <p class="p_10px">경기도 남양주시 오남읍 양지로 240번길 37 관리동</p>
                                        <p class="p_10px">031-514-1001</p>
                                    </div>
                                </div>
                                <button class="btn_orangeline02">선택</button>
                            </li>
                            <li class="flex_between">
                                <div class="kinder_wrap">
                                    <p class="p_12px">e편한산들어린이집</p>
                                    <div class="kinder_address_num flex_start_column">
                                        <p class="p_10px">경기도 남양주시 오남읍 양지로 240번길 37 관리동</p>
                                        <p class="p_10px">031-514-1001</p>
                                    </div>
                                </div>
                                <button class="btn_orangeline02">선택</button>
                            </li>
                            <li class="flex_between">
                                <div class="kinder_wrap">
                                    <p class="p_12px">e편한산들어린이집</p>
                                    <div class="kinder_address_num flex_start_column">
                                        <p class="p_10px">경기도 남양주시 오남읍 양지로 240번길 37 관리동</p>
                                        <p class="p_10px">031-514-1001</p>
                                    </div>
                                </div>
                                <button class="btn_orangeline02">선택</button>
                            </li>
                            <li class="flex_between">
                                <div class="kinder_wrap">
                                    <p class="p_12px">e편한산들어린이집</p>
                                    <div class="kinder_address_num flex_start_column">
                                        <p class="p_10px">경기도 남양주시 오남읍 양지로 240번길 37 관리동</p>
                                        <p class="p_10px">031-514-1001</p>
                                    </div>
                                </div>
                                <button class="btn_orangeline02">선택</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 하단 버튼 -->
    <div class="modal_btn_wrap flex_center">
        <li>
            <button type="button" id="modalModifyBtn" class="modal_btn_orange01">변경</button>
        </li>
        <li>
            <button type="button" id="modalCancelBtn" class="modal_btn_orangeline01">닫기</button>
        </li>
    </div>
</div>