<div class="modal_con2">
    <!-- modal header -->
    <div class="modal_header flex_between">
        <h2 class="h2_G_type03">아래 정보로 등록하시겠어요?</h2>
        <button id="modalCloseBtn" class="btn_x_modal">
            <span class="blind">모달창 닫기</span>
        </button>
    </div>

    <!-- modal body -->
    <div class="modal_body">
        <div class="form_wrap">
            <!-- 원 정보 -->
            <div id="profile_info4" class="form_request flex_start_column">
                <div class="form_text flex_start_column">
                    <label for="원 명">원 명</label>
                    <input id="kinder_name" type="text" placeholder="원 명" disabled>
                </div>
                <div class="form_text flex_start_column">
                    <label for="원 전화번호">원 전화번호</label>
                    <input id="kinder_phone" type="text" placeholder="02-XXXX-XXXX" disabled>
                </div>
                <div class="form_text flex_start_column">
                    <label for="주소">주소</label>
                    <input id="kinder_address" type="text" placeholder="주소" disabled>
                </div>
            </div>
        </div>
    </div>

    <!-- 하단 버튼 -->
    <div class="modal_btn_wrap flex_center">
        <li>
            <button type="button" id="modalRegisterBtn" class="modal_btn_blue01">등록</button>
        </li>
        <li>
            <button type="button" id="modalCancelBtn" class="modal_btn_blueline01">닫기</button>
        </li>
    </div>
</div>