<div class="modal_con2">
    <!-- modal body -->
    <div class="modal_body">
        <div class="form_wrap">
            <h2 class="h2_G_type04">원 등록 신청을 마쳤어요!</h2>
            <p class="p_16px">
                유치원/어린이집 등록 신청을 완료하였어요<br>
                계약 완료 후 연락처 및 이메일을 통해 전송드리는 원 코드로 <span>아이-밋</span>을 이용하실 수 있어요 :)<br>
                검수 과정은 1~2일이 소요될 예정이오니 조금만 기다려주세요 !  
            </p>
        </div>
    </div>

    <!-- 하단 버튼 -->
    <div class="modal_btn_wrap flex_center">
        <li>
            <a href="login" id="modalRegisterBtn" class="modal_btn_blue01">로그인 페이지</a>
        </li>
    </div>
</div>