<div class="modal_con">
    <!-- modal header -->
    <div class="modal_header flex_between">
        <h2 class="h2_G_type02">미예약 원아</h2>
        <button id="modalCloseBtn2" class="btn_x_modal">
            <span class="blind">모달창 닫기</span>
        </button>
    </div>

    <!-- modal body -->
    <div class="modal_body">
        <div class="form_wrap">
            <div class="form_top form_request flex_between">
                <h5 class="h5_N_type01">2024년 9월 19일 (목)</h5>
                <div class="form_top_select flex_right">
                    <select name="driver_car01" class="select_02">
                        <option value="1호" selected>1호</option>
                        <option value="2호">2호</option>
                        <option value="3호">3호</option>
                    </select>
                    <select name="attendance_state" class="select_02">
                        <option value="등원" selected>등원</option>
                        <option value="하원">하원</option>
                    </select>
                </div>
            </div>
            <ul class="list_type02 reserveNot_list">
                <li class="flex_between">
                    <div class="flex_start">
                        <div id="profile_img3">
                            <img src="../images/img_child01.png" alt="원아 이미지">
                        </div>
                        <div class="profile_text flex_start_column">
                            <div class="flex_start">
                                <p class="p_16px">서하린</p>
                                <p class="p_14px">별님반</p>
                            </div>
                            <p class="p_14px p_02">20210901</span></p>
                        </div>
                    </div>
                    <div class="btn_alarm_wrap flex_right">
                        <p class="p_14px">결석예정</p>
                        <button type="button" class="btn_alarm" disabled>
                            <span class="blind">미예약 알림</span>
                        </button>
                    </div>
                </li>
                <li class="flex_between">
                    <div class="flex_start">
                        <div id="profile_img3">
                            <img src="../images/img_child02.png" alt="원아 이미지">
                        </div>
                        <div class="profile_text flex_start_column">
                            <div class="flex_start">
                                <p class="p_16px">서하준</p>
                                <p class="p_14px">별님반</p>
                            </div>
                            <p class="p_14px p_02">20210901</span></p>
                        </div>
                    </div>
                    <div class="btn_alarm_wrap flex_right">
                        <p class="p_14px">결석예정</p>
                        <button type="button" class="btn_alarm" disabled>
                            <span class="blind">미예약 알림</span>
                        </button>
                    </div>
                </li>
                <li class="flex_between">
                    <div class="flex_start">
                        <div id="profile_img3">
                            <img src="../images/img_child03.png" alt="원아 이미지">
                        </div>
                        <div class="profile_text flex_start_column">
                            <div class="flex_start">
                                <p class="p_16px">정하은</p>
                                <p class="p_14px">햇님반</p>
                            </div>
                            <p class="p_14px p_02">20190402</span></p>
                        </div>
                    </div>
                    <div class="btn_alarm_wrap flex_right">
                        <p class="p_14px">-</p>
                        <button type="button" class="btn_alarm">
                            <span class="blind">미예약 알림</span>
                        </button>
                    </div>
                </li>
                <li class="flex_between">
                    <div class="flex_start">
                        <div id="profile_img3">
                            <img src="../images/img_child01.png" alt="원아 이미지">
                        </div>
                        <div class="profile_text flex_start_column">
                            <div class="flex_start">
                                <p class="p_16px">정하은</p>
                                <p class="p_14px">햇님반</p>
                            </div>
                            <p class="p_14px p_02">20190402</span></p>
                        </div>
                    </div>
                    <div class="btn_alarm_wrap flex_right">
                        <p class="p_14px">-</p>
                        <button type="button" class="btn_alarm">
                            <span class="blind">미예약 알림</span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 하단 버튼 -->
    <div class="modal_btn_wrap flex_center">
        <li>
            <button type="button" id="modalCancelBtn2" class="modal_btn_blueline01">닫기</button>
        </li>
    </div>
</div>